{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Backend styles CSS -->
    <link rel="stylesheet" type="text/css" href= {{ asset("assets/css/backend.css") }} media="screen">
{% endblock %}

{% block title %} Dashbord - {% endblock %}

{% block header %}
    <header id="header" class="col-12 fixed-top">
        <div class="welcome row">
            <a class="col-2" href="{{ path("portfolio") }}">
                <img id="logo-web-nav" src= {{ asset("assets/images/logo.png") }} alt="logo hexagonal de Morim Adrien">
            </a>
            <div class="col-10">
                <h1>Bienvenue sur ton Dashbord</h1>
                <div class="welcome-sub">Adrien</div>
            </div>
        </div><!-- /.welcome -->
    </header>
{% endblock %}

{% block body %}
    <div id="backend" class="d-flex h-100">
        <!-- NAV -->
        {% include "inc/navBackend.html.twig" %}           
        <!-- HOME -->
        <div id="home-backend" class="ml-auto col-lg-10 d-flex flex-column">
            <section class="col-12">
                <div class="row">
                    <div class="col-12 overview">
                        <p><strong>Aperçu:</strong></p>
                        <div class="d-flex col-11">
                            <div class="section-border col-3 info-overview info-messages">
                                <i class="icon-overview far fa-envelope"></i>
                            </div>
                            <div class="section-border col-3 info-overview info-charts">
                                <i class="icon-overview far fa-chart-bar"></i>
                            </div>
                            <div class="section-border col-3 info-overview info-projects">
                                <i class="icon-overview fas fa-laptop"></i>
                            </div>
                            <div class="section-border col-3 info-overview info-tasks">
                                <textarea id="keep" name="keep" class="col-12" onchange="localStorage.strKeep = this.value">Faire menu dropdown
                                Voir SF4 -> upload Image
                                Faire btn Navigation
                                Modifier affichage form
                                </textarea>
                                <i class="icon-overview fas fa-tasks"></i>
                            </div>
                            <!--
                                -> Voir google Analytics
                                -> Faire compteur de visite sur chaque Projet.
                                -> Voir cours Symphony
                                -> Voir React.js
                                -> Voir Vue.js
                            -->
                        </div>
                    </div>
                    <div class="col-12 overview">
                        <p><strong>Informations complémentaires:</strong></p>
                        <div class="d-flex flex-wrap">
                            <div class="col-6">
                                <div class="section-border col-12 info-messages">
                                    <strong>Boîte de réception:<br/></strong>
                                    Vous avez actuellement "nombre message(s)" message dans votre boîte de réception.
                                </div>
                                <div class="section-border col-12 info-charts">
                                    <strong>Compteurs de visites:<br/></strong>
                                    Vous avez actuellement "nombre de visite" visite(s) sur votre site.
                                </div>
                                <div class="section-border col-12 info-projects">
                                    <strong>Vos projets:<br/></strong>
                                    Vous avez actuellement "nombre de projets" projets sur votre site.
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="section-border col-12 info-messages">
                                    <strong>Dernier message reçu:<br/></strong>
                                    <a class="link-back" href="../V3/index.php?action=message&amp;id_message=<?= $data['id']; ?>">
                                    <?= nl2br(htmlspecialchars(substr($data['message'], 0, 100))); ?>...
                                    </a>
                                </div>
                                <div class="section-border col-12 info-messages">
                                    <strong>Messages non lus:<br/></strong>
                                    <a class="link-back" href="../V3/index.php?action=listmessages">
                                    Vous avez actuellement "nombre de message(s)" message non lu(s).
                                    </a>
                                </div>
                                <div class="section-border col-12 info-charts">
                                        
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="section-border col-12 info-tasks">
                                    
                                </div>
                            </div>
                        </div><!-- /.d-flex -->
                    </div><!-- /.col-12 overview -->
                    <div class="col-12 overview">
                        <div class="section-border col-12">
                                        
                        </div>
                    </div>
                </div><!-- /.row -->
            </section><!-- /#col-12 -->
        </div><!-- /#home-backend /.tt-backend-->
    </div>
{% endblock %}

{% block footer %}{% endblock %}