<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            {% include "inc/head.html.twig" %}
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{% endblock %} Adrien Morim - Développeur Web</title>
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include "inc/footer.html.twig" %}
        {% endblock %}
        {% block javascripts %}
            {% include "inc/js.html.twig" %}
        {% endblock %}
    </body>
</html>