<footer class="footer-wrapper mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="socialnetwork col-sm-12 col-md-12">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/adrienmorim"><i class="fab fa-facebook fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/MorimAdrien"><i class="fab fa-twitter fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/adrien-morim-3b37b2118/"><i class="fab fa-linkedin fa-2x"></i></a>
                        </li>
                    </ul>
                </div> <!-- /.socialnetwork -->

                <div class="copyright text-center col-sm-12 col-md-4 col-lg-12">
                    <p>2017 - 2019 &copy; Adrien Morim. Développeur Web.</p>
                </div> <!-- /.copyright -->
            </div>
        </div>
    </div>
</footer><!-- End Footer Section -->
