<a class="nav-item nav-link active" href="#home">Accueil
    <span class="sr-only">(current)</span>
</a>
<a class="nav-item nav-link" href="#about">À propos</a>
<a class="nav-item nav-link" href="#resume">Parcours</a>
<a class="nav-item nav-link" href="#skills">Compétences</a>
<a class="nav-item nav-link" href="#works">Projets</a>
<a class="nav-item nav-link" href="#advice">Recommandations</a>
<a class="nav-item nav-link disabled sr-only" href="#hire">Engager</a>
<a class="nav-item nav-link" href="#contact">Contact</a>
<a class="nav-item nav-link disabled sr-only" href="#blog">Blog</a>